<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${conference.confName}">Ooops, page not found</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" href="../../static/images/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}" href="../../static/css/theme.css"/>
</head>
<body>
<section>
    <h3 th:text="${conference.confName}">JJUG CCC</h3>
    <div th:utext="${@marked.marked(conference.confVoteNote)}"></div>
    <h4>応募セッション一覧</h4>
    <table>
        <tr>
            <th th:text="#{title}">aa</th>
            <th th:text="#{name}">aa</th>
            <th th:text="#{github}">aa</th>
            <th th:text="#{category}">aa</th>
            <th th:text="#{level}">aa</th>
            <th th:text="#{talkType}">aa</th>
        </tr>
        <tr th:each="submission : ${submissions}">
            <td><a th:text="${submission.title}"
                   th:href="@{/submissions/{submissionId}(submissionId=${submission.submissionId})}"></a></td>
            <td th:text="${submission.speakers().name}"></td>
            <td th:text="${submission.speakers().github}"></td>
            <td th:text="${submission.category.message(@messageSource, #locale)}"></td>
            <td th:text="${submission.level.message(@messageSource, #locale)}"></td>
            <td th:text="${submission.talkType.message(@messageSource, #locale)}"></td>
        </tr>
    </table>
    <hr/>
    <p sec:authorize="not authenticated">
        <a th:href="@{/}" href="../index.html" th:text="#{login-for-vote}">Login</a>
    </p>
    <p sec:authorize="authenticated">
        <a th:href="@{/}" href="../index.html" th:text="${@cfpProps.applicationName}">CFP</a>
    </p>
</section>
</body>
</html>