<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${conference.confName}">Ooops, page not found</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" href="../../static/images/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}" href="../../static/css/theme.css"/>
</head>
<body>
<div>
    <section>
        <h2 th:text="${conference.confName +' (' + #temporals.format(conference.confDate, 'yyyy/MM/dd') + ')'}">JJUG CCC
            2016 Fall</h2>
        <h3 th:text="${sponsor.sponsorName}"></h3>
        <p>
            リセットURLを生成して、URLとスポンサーID(<code><span th:text="${sponsor.sponsorId}"></span></code>)をスポンサーに伝えてください。
        </p>
        <table>
            <tr>
                <th>リセットURL</th>
                <th>有効期限</th>
                <th>&nbsp;</th>
            </tr>
            <tr th:each="reset : ${resets}">
                <td>
                    <a th:href="@{/credentialresets/{resetId}(resetId=${reset.resetId})}">URL</a>
                </td>
                <td>
                    <span th:text="${reset.expiry()}"></span>
                    <span th:if="${reset.isValid()}">✅</span>
                    <span th:unless="${reset.isValid()}">❌</span>
                </td>
                <td>
                    <form th:action="@{/admin/conferences/{confId}/sponsors/{sponsorId}/credentialresets/{resetId}(confId=${conference.confId},sponsorId=${sponsor.sponsorId},resetId=${reset.resetId})}"
                          method="post">
                        <input type="submit" value="破棄"/>
                        <input type="hidden" name="_method" value="DELETE"/>
                    </form>
                </td>
            </tr>
        </table>
        <br/>
        <form th:action="@{/admin/conferences/{confId}/sponsors/{sponsorId}/credentialresets(confId=${conference.confId},sponsorId=${sponsor.sponsorId})}"
              method="post">
            <input type="submit" value="リセットURL生成"/>
        </form>
        <hr/>
        <a th:text="${conference.confName +' (' + #temporals.format(conference.confDate, 'yyyy/MM/dd') + ')'}"
           th:href="@{/admin/conferences/{confId}(confId=${conference.confId})}">JJUG CCC 2016 Fall</a>
    </section>
</div>
</body>
</html>