<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${submission.conference.confName}">Ooops, page not found</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" href="../../static/images/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}" href="../../static/css/theme.css"/>
</head>
<body>
<div>
    <section>
        <h2 th:text="${submission.conference.confName +' (' + #temporals.format(submission.conference.confDate, 'yyyy/MM/dd') + ')'}">JJUG CCC 2016 Fall</h2>
        <a href="?locale=ja">Japanese</a> <a href="?locale=en">English</a>
    </section>
    <section>
        <div th:object="${submissionForm}">
            <div th:if="${#fields.hasErrors()}">
                <ul>
                    <li th:each="error : ${#fields.detailedErrors()}">
                        <span th:text="${error.getMessage()}">Error message</span>
                    </li>
                </ul>
            </div>
        </div>
        <form th:object="${submissionForm}" th:action="@{/submissions/{submissionId}/form(submissionId=${submissionId})}"
              method="post">
            <h2>Call for Papers</h2>
            <p th:if="${submission}">Status: [<span
                    th:text="${submission.submissionStatus.message(@messageSource, #locale)}"
                    th:unless="${submission.inSelection}">OPEN</span><span
                    th:if="${submission.inSelection}" th:text="#{confstatus.selection}">In Selection</span>]</p>
            <h3 th:text="#{session}">aaa</h3>
            <table style="width: 80%">
                <tr>
                    <th style="width: 30%"><label th:for="title" th:text="#{title}">タイトル</label></th>
                    <td style="width: 70%"><input type="text" th:field="*{title}"
                                                  placeholder="(Required)"
                                                  th:classappend="${#fields.hasErrors('title') ? 'error' : ''}"/></td>
                </tr>
                <tr>
                    <th><label th:for="description" th:text="#{description}">aaa</label></th>
                    <td><textarea th:field="*{description}"
                                  placeholder="Markdown is available. (Required)"
                                  th:classappend="${#fields.hasErrors('description') ? 'error' : ''}"></textarea></td>
                </tr>
                <tr>
                    <th><label th:for="target" th:text="#{target}">aaa</label></th>
                    <td><input type="text" th:field="*{target}"
                               placeholder="(Required)"
                               th:classappend="${#fields.hasErrors('target') ? 'error' : ''}"/></td>
                </tr>
                <tr>
                    <th><label th:for="category" th:text="#{category}">aaa</label></th>
                    <td><select th:field="*{category}"
                                th:classappend="${#fields.hasErrors('category') ? 'error' : ''}">
                        <option value="">(Required)</option>
                        <option th:each="e : ${T(jjug.submission.enums.Category).values()}"
                                th:text="${e.message(@messageSource, #locale)}"
                                th:value="${e}"></option>
                    </select></td>
                </tr>
                <tr>
                    <th><label th:for="level" th:text="#{level}">aaa</label></th>
                    <td><select th:field="*{level}"
                                th:classappend="${#fields.hasErrors('level') ? 'error' : ''}">
                        <option value="">(Required)</option>
                        <option th:each="e : ${T(jjug.submission.enums.Level).values()}"
                                th:text="${e.message(@messageSource, #locale)}"
                                th:value="${e}"></option>
                    </select></td>
                </tr>
                <tr>
                    <th><label th:for="talkType" th:text="#{talkType}">aaa</label></th>
                    <td><select name="talkType" th:field="*{talkType}"
                                th:classappend="${#fields.hasErrors('talkType') ? 'error' : ''}">
                        <option value="">(Required)</option>
                        <option th:each="e : ${T(jjug.submission.enums.TalkType).values()}"
                                th:text="${e.message(@messageSource, #locale)}"
                                th:value="${e}"></option>
                    </select></td>
                </tr>
                <tr>
                    <th><label th:for="language" th:text="#{language}">aaa</label></th>
                    <td><select th:field="*{language}"
                                th:classappend="${#fields.hasErrors('language') ? 'error' : ''}">
                        <option value="">(Required)</option>
                        <option th:each="e : ${T(jjug.submission.enums.Language).values()}"
                                th:text="${e.message(@messageSource, #locale)}"
                                th:value="${e}"></option>
                    </select></td>
                </tr>
                <tr>
                    <th><label th:for="note" th:text="#{sessionNote}">aaa</label></th>
                    <td><textarea th:field="*{sessionNote}"
                                  th:classappend="${#fields.hasErrors('sessionNote') ? 'error' : ''}"></textarea></td>
                </tr>
            </table>
            <!--/*/ <th:block th:each="speakerForm, stat : ${submissionForm.speakerForms}"> /*/-->
            <h3 th:text="#{speaker} + ${stat.count}">講演者情報1</h3>
            <table style="width: 80%">
                <tr>
                    <th style="width: 30%"><label th:for="name" th:text="#{name}">名前</label></th>
                    <td style="width: 70%"><input type="text" th:field="*{speakerForms[__${stat.index}__].name}"
                            th:placeholder="${stat.index} eq 0 ? (Required)"
                            th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].name') ? 'error' : ''}"/></td>
                </tr>
                <tr>
                    <th style="width: 30%"><label th:for="github" th:text="#{github}">名前</label></th>
                    <td style="width: 70%"><input type="text" th:field="*{speakerForms[__${stat.index}__].github}"
                            th:placeholder="${stat.index} eq 0 ? (Required)"
                            th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].github') ? 'error' : ''}"/></td>
                </tr>
                <tr>
                    <th><label th:for="companyOrCommunity" th:text="#{companyOrCommunity}">aaa</label></th>
                    <td><input type="text" th:field="*{speakerForms[__${stat.index}__].companyOrCommunity}"
                            th:placeholder="${stat.index} eq 0 ? '(Required)'"
                            th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].companyOrCommunity') ? 'error' : ''}"/></td>
                </tr>
                <tr>
                    <th><label th:for="bio" th:text="#{bio}">aaa</label></th>
                    <td><textarea th:field="*{speakerForms[__${stat.index}__].bio}"
                            th:placeholder="${stat.index} eq 0 ? 'Markdown is available. (Required)'"
                            th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].bio') ? 'error' : ''}"></textarea></td>
                </tr>
                <tr>
                    <th><label th:for="profileUrl" th:text="#{profileUrl}">aaa</label></th>
                    <td><input type="url" th:field="*{speakerForms[__${stat.index}__].profileUrl}"
                            th:placeholder="${stat.index} eq 0 ? '(Required)'"
                            th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].profileUrl') ? 'error' : ''}"/></td>
                </tr>
                <tr th:each="seq, seqStat : ${#numbers.sequence(1,@cfpProps.activitiesMax)}">
                    <th><label th:for="activities" th:text="#{activities} + ${seq}">コミュニティ活動、BlogのURL、Twitterアカウントなど1</label></th>
                    <td><select style="width: 15%" th:field="*{speakerForms[__${stat.index}__].activityList[__${seqStat.index}__].activityType}"
                                th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].activityList[' + seqStat.index + '].activityType') ? 'error' : ''}">
                        <option value="" th:text="${seqStat.index} eq 0 ? '(Required)'"></option>
                        <option th:each="e : ${T(jjug.speaker.enums.ActivityType).values()}"
                                th:text="${e.message(@messageSource, #locale)}"
                                th:value="${e}"></option>
                    </select>
                        <input style="width: 60%" type="url" th:placeholder="${seqStat.index} eq 0 ? '(Required)'" th:field="*{speakerForms[__${stat.index}__].activityList[__${seqStat.index}__].url}"
                               th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].activityList[' + seqStat.index + '].url') ? 'error' : ''}" />
                    </td>
                </tr>
            </table>
            <h3 th:text="#{private} + ${stat.count}">非公開情報1</h3>
            <table style="width: 80%">
                <tr>
                    <th style="width: 30%"><label th:for="email" th:text="#{email}">Email</label></th>
                    <td style="width: 70%"><input type="email" th:field="*{speakerForms[__${stat.index}__].email}"
                            th:placeholder="${stat.index} eq 0 ? '(Required)'"
                            th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].email') ? 'error' : ''}"/></td>
                </tr>
                <!--/*/ <th:block sec:authorize="!hasRole('SPONSOR')"> /*/-->
                <tr>
                    <th><label th:for="transportationAllowance" th:text="#{transportationAllowance}">aaa</label></th>
                    <td><input type="checkbox" th:field="*{speakerForms[__${stat.index}__].transportationAllowance}"
                            th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].transportationAllowance') ? 'error' : ''}"/></td>
                </tr>
                <tr>
                    <th><label th:for="city" th:text="#{city}">aaa</label></th>
                    <td><input type="text" th:field="*{speakerForms[__${stat.index}__].city}"
                            th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].city') ? 'error' : ''}"/></td>
                </tr>
                <!--/*/ </th:block> /*/-->
                <tr>
                    <th><label th:for="note" th:text="#{note}">aaa</label></th>
                    <td><textarea th:field="*{speakerForms[__${stat.index}__].note}"
                            th:classappend="${#fields.hasErrors('speakerForms[' + stat.index + '].note') ? 'error' : ''}"></textarea></td>
                </tr>
            </table>
            <!--/*/ </th:block> /*/-->
            <div>
                <input type="submit" name="add-speaker" th:value="#{addSpeaker}"/>
                <input th:if="${#lists.size(submissionForm.speakerForms) > 1}" type="submit" name="remove-speaker" th:value="#{removeSpeaker}" />
            </div>
            <br th:if="${submissionId}"/>
            <a th:if="${submissionId}" th:href="@{/submissions/{submissionId}/preview(submissionId=${submissionId})}" target="_blank">🔍
                Preview</a>
            <br/>
            <div>
                <input type="submit" value="Submit CFP"/>
                <!--/*/ <th:block th:if="${submission} and !${submission.conference.confStatus.fixedCfp}"> /*/-->
                <input type="submit" name="draft" value="Save as Draft"/>
                <input th:if="${submissionId}" type="submit" name="withdraw" value="Withdraw CFP"/>
                <!--/*/ </th:block> /*/-->
            </div>
        </form>
        <hr/>
        <a th:href="@{/}" href="../index.html" th:text="${@cfpProps.applicationName}">CFP</a>
    </section>
</div>
</body>
</html>
