<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${conference.confName}">Ooops, page not found</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" href="../../static/images/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}" href="../../static/css/theme.css"/>
</head>
<body>
<div>
    <section>
        <h2 th:text="${conference.confName +' (' + #temporals.format(conference.confDate, 'yyyy/MM/dd') + ')'}">JJUG CCC
            2016 Fall</h2>
        <h3>Call for Papers</h3>
        <div th:utext="${@marked.marked(conference.confCfpNote)}"></div>
        <hr/>
        <p sec:authorize="not authenticated">
            <a th:href="@{/conferences/{confId}/submissions/form(confId=${conference.confId})}"
               th:text="#{login-for-submission}">📝Login</a>
        </p>
        <p sec:authorize="authenticated">
            <a th:href="@{/conferences/{confId}/submissions/form(confId=${conference.confId})}"
               th:text="#{submission}">📝Login</a>
            <br/>
            <a th:href="@{/}" href="../index.html" th:text="${@cfpProps.applicationName}">CFP</a>
        </p>
    </section>
</div>
</body>
</html>